# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [60]:
# import numpy and pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sp
from statsmodels.stats.weightstats import ztest, ttest_ind
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import ttest_rel

In [21]:
def hipotesis_result (pval, conf):
    
    """
    *************Contraste de hipótesis*************
    
    Devuelve la decisión de rechazar o no la hipótesis
    nula dados el p-valor y el nivel de confianza.
    
    Input:
    * pval(float): P-valor. Probabilidad de que un valor 
    sea posible dada una hipótesis nula cierta.
    * conf(float) : Nivel de confianza deseado.
    
    Output:
    * (str): Si se acepta o rechaza la H0 y los valores
    'pval' y 'conf' introducidos.
    
    ************************************************
    
    """
    alpha = 1 - conf
    if pval <= alpha:
        return f'Se rechaza la hipótesis nula (H0). Nuestro p-valor {pval} es menor a nuestra α {round(alpha,2)}'
    else:
        return f'No se rechaza la hipótesis nula (H0). Nuestro p-valor {pval} es mayor a nuestra α {round(alpha,2)}'

In [22]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    
    """
    La prueba 't de Student' se aplica cuando la población estudiada sigue una 
    distribución normal pero el tamaño muestral es demasiado pequeño como para 
    que el estadístico en el que está basada la inferencia esté normalmente 
    distribuido, utilizándose una estimación de la desviación típica en lugar del 
    valor real. Es utilizado en análisis discriminante.
    
    Calculate the T-test for the means of two independent samples of scores.

    This is a two-sided test for the null hypothesis that 2 independent samples
    have identical average (expected) values. This test assumes that the populations
    have identical variances by default.
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name
        is the key and the p-value is the value
    """
    
    results = {}
    
    # Your code here
    
    for feat in features:
        results[feat] = sp.ttest_ind(s1[feat], s2[feat])[1]
    
    return results

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [23]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [24]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [25]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [26]:
# Your code here:
pokemon.groupby('Legendary').mean()['Total']

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [27]:
pokemon.groupby('Legendary').std()['Total']

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
# Your code here:
legendary = pokemon[pokemon['Legendary']== True]
not_legendary = pokemon[pokemon['Legendary']==False]

What do you conclude from this test? Write your conclusions below.

In [34]:
# Your conclusions here:
hipotesis_result(t_test_features(legendary,not_legendary)['Total'],0.95)

'Se rechaza la hipótesis nula (H0). Nuestro p-valor 3.0952457469652825e-52 es menor a nuestra α 0.05'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [36]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [56]:
# Your code here:

water = pokemon[pokemon['Type 1']=='Water']
rest = pokemon[pokemon['Type 1']!='Water']

print(f"La media de los pokemon tipo agua es de {round(np.mean(water['Total']),2)} y del resto de pokemons {round(np.mean(rest['Total']),2)}.")

print(f"La desviación estándar de los pokemon tipo agua es de {round(np.std(water['Total']),2)} y del resto de pokemons {round(np.std(rest['Total']),2)}.")

La media de los pokemon tipo agua es de 430.46 y del resto de pokemons 435.86.
La desviación estándar de los pokemon tipo agua es de 112.68 y del resto de pokemons 121.0.

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [58]:
# Your code here:
pval = t_test_features(water, rest)['Total']

Write your conclusion below.

In [59]:
# Your conclusions here:

hipotesis_result(pval, 0.95)

'No se rechaza la hipótesis nula (H0). Nuestro p-valor 0.6587140317488793 es mayor a nuestra α 0.05'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [64]:
# Your code here:
stat, pval = sp.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Describe the results of the test in the cell below.

In [65]:
# Your conclusions here:
hipotesis_result(pval, 0.95)

'Se rechaza la hipótesis nula (H0). Nuestro p-valor 1.7140303479358558e-05 es menor a nuestra α 0.05'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [67]:
# Your code here:

stat, pval = sp.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Describe the results of the test in the cell below.

In [68]:
# Your conclusions here:
hipotesis_result(pval, 0.95)

'No se rechaza la hipótesis nula (H0). Nuestro p-valor 0.3933685997548122 es mayor a nuestra α 0.05'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [75]:
# Your code here:
e=0
new_sampl = []
for i in pokemon['Defense']:
    new_sampl.append(i- pokemon['Attack'][e])
    e+=1
stat, pval = sp.ttest_1samp(new_sampl, 0.00)

In [76]:
hipotesis_result(pval, 0.95)

'Se rechaza la hipótesis nula (H0). Nuestro p-valor 1.7140303479358558e-05 es menor a nuestra α 0.05'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [80]:
# Your code here:
pd.crosstab(pokemon['Name'],pokemon['Legendary'], pokemon['Type 1']=="water")

ValueError: values cannot be used without an aggfunc.

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: